<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>AudioKit</string>
	<key>ContentIdentifier</key>
	<string>io.audiokit.playgroundbook</string>
	<key>ContentVersion</key>
	<string>1</string>
	<key>ImageReference</key>
	<string>AudioKit.png</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Chapters</key>
	<array>
		<string>Introduction.playgroundchapter</string>
		<string>Basics.playgroundchapter</string>
		<string>Playback.playgroundchapter</string>
		<string>Effects.playgroundchapter</string>
		<string>Filters.playgroundchapter</string>
	</array>
</dict>
</plist>
