<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Filters</string>
	<key>Pages</key>
	<array>
		<string>Introduction.playgroundpage</string>
		<string>Band Pass Filter.playgroundpage</string>
        <string>High Pass Filter.playgroundpage</string>
        <string>High Shelf Filter.playgroundpage</string>
        <string>Low Pass Filter.playgroundpage</string>
        <string>Low Shelf Filter.playgroundpage</string>
        <string>Parametric Equalizer.playgroundpage</string>
	</array>
</dict>
</plist>
